{%extends 'Zakaz/base.html'%}

{%load static from staticfiles %}

{%block content%}

<form>
  <div class="form-group">
    <label for="inputDate"><p>Введите дату:</p>
    *заказ столиков производится не более чем на 30 дней заранее</label>
    <input type="date" class="form-control">
  </div>
</form>
<div class="container-fluid">
  <div class="row ">
    {% for stol in Stol %}
    {% ifequal stol.y_cord 1  %}
      {% if stol.len_stol <= 1 %}
          <div class="col-sm-3 rzal rectangle">
            {{ stol.reserved }}
            <p>{{ stol.quantity }}</p>
          </div>
      {% endif %}
    {% endifequal %}

    {% ifequal stol.y_cord 2  %}
      {% if stol.len_stol <= 3 %}
        <div class="col-sm-6 rzal rectangle">
          {{ stol.reserved }}
        </div>
      {% endif %}
      {% endifequal %}

    {% ifequal stol.y_cord 3  %}
    {%if stol.len_stol <= 6 %}
      <div class="col-sm-12 rzal rectangle">
        {{ stol.reserved }}
      </div>
    {% endif %}
    {% endifequal %}
    {% endfor %}
    </div>

</div>
<a class="btn btn-primary" href="#" role="button">заказать</a>
{%endblock content%}
